body,
header {
  text-align: center;
  background-color: #f2f5fb;
  margin: 0;
  padding: 0;
  color: #180539;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #180539;
}

.layout {
  margin: 0;
}

.title {
  font-size: 50px;
}
form {
  /* border: solid red; */
  width: 100%;
}
.listItem {
  display: flex;
  justify-content: space-between;
}
input {
  border-radius: 50px;
  border: none;
  text-align: center;
  background-color: #f2f5fb;
  width: 100%;
  height: 30px;
}
a {
  text-decoration: none;
}

.newItem {
  margin-bottom: 10px;
  font-size: 1em;
}
.App {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  cursor: pointer;
  border-radius: 13px;
  height: 35px;
  width: auto;
  background-color: #180539;
  color: white;
}

.list {
  padding: 20px;
  height: 40%;
  width: 30vw;
  /* border: 5px solid black; */
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  filter: drop-shadow(3px 1px 5px black);
}

p {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: -15px;
  text-align: left;
}

li {
  font-size: 1.2em;
  padding: 10px;
  /* border: solid red */
}
ul {
  /* border: solid red; */
  width: 60%;
}
.formContainer {
  height: 10vh;
  border: 2px solid black;
  width: 40vw;
  border: 2px solid black;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #ece9d4;
}

.form {
  background-color: #f8f2fb;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submit {
  width: 150px;
}

.showPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f5fb;
}

.taskContainer {
  width: 70vw;
  height: 60vh;
  border: 1px solid black;
  background-color: azure;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}